<html>
<head>
    <title>Помошник мастера</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul th:replace="~{fragments/navigation :: navigationFragment}"></ul>

    <div class="row align-items-center mt-2">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Специалисты</h5>
                    <p class="card-text">Таблица специалистов</p>
                    <a href="/data/workers" class="btn btn-primary">Перейти в таблицу</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Детали</h5>
                    <p class="card-text">Таблица деталей</p>
                    <a href="/data/items" class="btn btn-primary">Перейти в таблицу</a>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Наряды</h5>
                    <p class="card-text">Таблица нарядов</p>
                    <a href="/worktasks" class="btn btn-primary">Перейти в таблицу</a>
                </div>
            </div>
        </div>-->
    </div>
</div>
<div class="modal fade" id="delWarningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Предупреждение!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Это приведёт к удалению всех данных. Удалить смену ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="apply-delete-workshift" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                    <span>Удалить</span></button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/errorModal :: errorModalFragment}"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
<script>
    function formatDate(date) {
        let month = date.getMonth()+1;
        month = month<10?"0"+month:month;
        let day = date.getDate();
        day = day<10?"0"+day:day;

        return date.getFullYear()+"."+month+"."+day;
    }
    let date = new Date();
    let formattedDate = formatDate(date);

    $("#new-workshift-date").val(formattedDate);

    $("#sub-date").click(function(e){
        e.preventDefault();

        date.setDate(date.getDate()-1);
        $("#new-workshift-date").val(formatDate(date));
    });

    $("#add-date").click(function(e){
        e.preventDefault();

        date.setDate(date.getDate()+1);
        $("#new-workshift-date").val(formatDate(date));
    });

    $("#start-workshift").click(function(){
        sendJson("/save_workshift", {date: date, status: "open"}, function(){});
    });

    $("#delete-workshift").click(function(){
        $("#delWarningModal").modal("show");
    });

    $("#apply-delete-workshift").click(function(){
        sendData("/delete_workshift", "id="+$('#workshift-id').val());
    });

    function sendJson(url, data, onSuccess) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'JSON',
            data: JSON.stringify(data),
            headers: {
                //"Accept": "application/json",
                "Content-Type": "application/json"
            },
            success: function(data){
                location.reload();
            },
            error: function(data){
            },
            complete: function(){
                onSuccess();
                location.reload();
            }
        });
    }

    function sendData(url, data) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'text',
            data: data,
            success: function(data){
                location.reload();
            },
            error: function(data){
                let responseText = JSON.parse(data.responseText);
                $("#errorModal .error-text").text("Status: "+responseText.status+", Error: "+responseText.error);
                $("#errorModal").modal("show");
            }
        });
    }
</script>
</html>