<html>
<head>
    <title>Деталь</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <ul th:replace="~{fragments/navigation :: navigationFragment}"></ul>
    <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/data/items">Детали</a></li>
            <li class="breadcrumb-item" th:text="${currentItem.name}"></li>
        </ol>
    </nav>
    <h1>Деталь</h1>
    <form class="mt-3">
        <div class="row">
            <legend class="col-auto col-form-label" for="item-name">Название:</legend>
            <div class="col-4 col-md-2">
                <input class="form-control" id="item-name" type="text" th:value="${currentItem.name}">
                <div class="invalid-feedback">Необходимо ввести название детали</div>
            </div>
            <div class="col-12 col-md-auto mt-2 mt-md-0">
                <button id="save-button" type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </form>
    <h3 class="mt-3">Операции</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Норма</th>
            <th scope="col">мин./шт.</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody id="table-body">
        <th:block th:each="op, iStat : ${#lists.sort(currentItem.operations, byOpId)}">
            <tr th:operation-id="${op.id}">
                <td>[[${iStat.index+1}]]</td>
                <td class="operation-name">[[${op.name}]]</td>
                <td class="operation-norm">[[${op.workNorm}]]</td>
                <td class="operation-ipm">[[${op.itemsPerMinute}]]</td>
                <td>
                    <span role="button" class="edit-operation bi bi-pencil fs-5"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span role="button" class="remove-operation bi bi-trash fs-5"></span>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <button id="add-operation" type="button" class="btn btn-light">Добавить операцию</button>

    <div class="modal fade" id="newOperationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Новая операция</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label for="newOperationNameInput" class="form-label">Название</label>
                            <input type="text" class="form-control" id="newOperationNameInput" placeholder="">
                            <div class="invalid-feedback">Необходимо ввести название операции</div>
                        </div>

                        <div class="mt-3">
                            <label for="newNormInput" class="form-label">Норма выработки</label>
                            <input type="number" class="form-control" id="newNormInput" placeholder="">
                            <div class="invalid-feedback">Норма выработки должна быть числом больше нуля</div>
                        </div>

                        <div class="mt-3">
                            <label for="newNormRateInput" class="form-label">Норма мин./шт.</label>
                            <input type="text" class="form-control" id="newNormRateInput" placeholder="0.0" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="operation-save" type="button" class="btn btn-primary">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Применить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editOperationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактирование</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <input type="hidden" class="operation-id-edit-modal">
                        <div>
                            <label for="editOperationNameInput" class="form-label">Название</label>
                            <input type="text" class="form-control" id="editOperationNameInput" placeholder="">
                            <div class="invalid-feedback">Необходимо ввести название операции</div>
                        </div>
                        <div class="mt-3">
                            <label for="editNormInput" class="form-label">Норма выработки</label>
                            <input type="number" class="form-control" id="editNormInput" placeholder="">
                            <div class="invalid-feedback">Норма выработки должна быть числом больше нуля</div>
                        </div>
                        <div class="mt-3">
                            <label for="editNormRateInput" class="form-label">Норма мин./шт.</label>
                            <input type="text" class="form-control" id="editNormRateInput" placeholder="0.0" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="operation-update" type="button" class="btn btn-primary">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Применить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delWarningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Предупреждение!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="operation-id-edit-modal">
                    Вы действительно хотите удалить операцию "<span id="warning-operation-name"></span>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="operation-warning-apply" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Удалить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successUpdateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Успешно!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Изменения успешно сохранены!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/errorModal :: errorModalFragment}"></div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
<script>
    $("#add-operation").click(function(){
        $("#newOperationModal #newOperationNameInput").removeClass("is-invalid");
        $("#newOperationModal #newNormInput").removeClass("is-invalid");
        $('#newOperationModal').modal('show');
    });

    $("#operation-save").click(function(){

        let newOperationName = $("#newOperationNameInput").val().trim();
        let newOperationNorm = parseInt($("#newNormInput").val());
        let valid = true;

        if(newOperationName.length <= 0) {
            $("#newOperationModal #newOperationNameInput").addClass("is-invalid");
            valid = false;
        }

        if(isNaN(newOperationNorm) || newOperationNorm <= 0) {
            $("#newOperationModal #newNormInput").addClass("is-invalid");
            valid = false;
        }

        if(!valid) return;

        sendJson("/save_operation", {
            name: newOperationName,
            workNorm: newOperationNorm,
            itemsPerMinute: $("#newNormRateInput").val(),
            item: {
                id: [[${currentItem.id}]],
                name: "[[${currentItem.name}]]",
            }});
    });

    $("#newOperationNameInput").on("input", function(){
        $("#newOperationModal #newOperationNameInput").removeClass("is-invalid");
    });

    $("#newNormInput").on("input", function(){
        $("#newOperationModal #newNormInput").removeClass("is-invalid");
    });

    $("#newNormInput").on("input", function(){
        let workNorm = $("#newNormInput").val();
        if(isNaN(workNorm)) {
            $("#newNormRateInput").val('');
            return;
        }
        $("#newNormRateInput").val((675 / workNorm).toFixed(1));
    });

    $("#editNormInput").on("input", function(){
        let workNorm = $("#editNormInput").val();
        if(isNaN(workNorm)) {
            $("#editNormRateInput").val('');
            return;
        }
        $("#editNormRateInput").val((675 / workNorm).toFixed(1));
    });

    $(".edit-operation").click(function(){
        $('#editOperationModal #editOperationNameInput').val('');
        $('#editOperationModal #editNormInput').val('');
        $('#editOperationModal #editNormRateInput').val('');
        $("#editOperationModal #editOperationNameInput").removeClass("is-invalid");
        $("#editOperationModal #editNormInput").removeClass("is-invalid");
        $('#editOperationModal #editOperationNameInput').val($(this).parent().parent().find(".operation-name")[0].innerText);
        $('#editOperationModal #editNormInput').val($(this).parent().parent().find(".operation-norm")[0].innerText);
        $('#editOperationModal #editNormRateInput').val($(this).parent().parent().find(".operation-ipm")[0].innerText);
        $('#editOperationModal .operation-id-edit-modal').val($(this).parent().parent().attr("operation-id"));
        $('#editOperationModal').modal('show');
    });

    $("#operation-update").click(function(){

        let operationName = $("#editOperationModal #editOperationNameInput").val().trim();
        let operationNorm = parseInt($("#editOperationModal #editNormInput").val());
        let valid = true;

        if(operationName.length <= 0) {
            $("#editOperationModal #editOperationNameInput").addClass("is-invalid");
            valid = false;
        }

        if(isNaN(operationNorm) || operationNorm <= 0) {
            $("#editOperationModal #editNormInput").addClass("is-invalid");
            valid = false;
        }

        if(!valid) return;

        sendJson("/update_operation", {
            id: $('#editOperationModal .operation-id-edit-modal').val(),
            name: operationName,
            workNorm: operationNorm,
            itemsPerMinute: $("#editOperationModal #editNormRateInput").val(),
            item: {
                id: [[${currentItem.id}]],
                name: "[[${currentItem.name}]]",
            }});
        $('#editOperationModal').modal('hide');
    });

    $("#editOperationNameInput").on("input", function(){
        $("#editOperationModal #editOperationNameInput").removeClass("is-invalid");
    });

    $("#editNormInput").on("input", function(){
        $("#editOperationModal #editNormInput").removeClass("is-invalid");
    });

    $(".remove-operation").click(function(){
        $('#delWarningModal #warning-operation-name').text('');
        $('#delWarningModal #warning-operation-name').text($(this).parent().parent().find(".operation-name")[0].innerText);
        $('#delWarningModal .operation-id-edit-modal').val($(this).parent().parent().attr("operation-id"));
        $('#delWarningModal').modal('show');
    });

    $("#operation-warning-apply").click(function(){
        sendData("/remove_operation", "id="+$('#delWarningModal .operation-id-edit-modal').val());
    });

    $("#save-button").click(function(){

        let newItemName = $("#item-name").val().trim();

        if(newItemName.length <= 0) {
            $("#item-name").addClass("is-invalid");
            return;
        }

        sendJson("/update_item", {id: [[${currentItem.id}]], name: newItemName}, function(){
            $("#successUpdateModal").modal("show");
        });
    });

    $("#item-name").on("input", function(){
        $("#item-name").removeClass("is-invalid");
    });

    function sendJson(url, data, onSuccess) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'JSON',
            data: JSON.stringify(data),
            headers: {
                //"Accept": "application/json",
                "Content-Type": "application/json"
            },
            success: function(data){
                location.reload();
            },
            error: function(data){
            },
            complete: function(){
                onSuccess();
            }
        });
    }

    function sendData(url, data) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'text',
            data: data,
            success: function(data){
                location.reload();
            },
            error: function(data){
                let responseText = JSON.parse(data.responseText);
                $("#errorModal .error-text").text("Status: "+responseText.status+", Error: "+responseText.error);
                $("#errorModal").modal("show");
            }
        });
    }
</script>
</html>