<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal fade" id="newTaskEntryModal" tabindex="-1" aria-labelledby="taskEntryModalLabel" aria-hidden="true" th:fragment="workTaskEntryModal(title, id, operations, workers, operationItemsCount, submitId)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:title="${title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="modalTaskEntryId" th:value="${id}">
                    <label for="operationSelect" class="form-label">Операция:</label>
                    <select id="operationSelect" class="form-select" aria-label="Default select example">
                        <option selected>Выберите операцию</option>
                        <option th:each="op : ${operations}" th:value="${op.id}" th:operation-id="${op.id}" th:operation-norm="${op.workNorm}" th:operation-ipm="${op.itemsPerMinute}">
                            [[${op.name}]]
                        </option>
                    </select>
                    <label for="workerSelect" class="form-label">Рабочий:</label>
                    <select id="workerSelect" class="form-select" aria-label="Default select example">
                        <option selected>Выберите Рабочего</option>
                        <option th:each="worker : ${workers}" th:worker-id="${worker.id}" th:value="${worker.id}">
                            [[${worker.fullName}]]
                        </option>
                    </select>
                    <label for="opItemsCountInput" class="form-label">Количество:</label>
                    <input type="number" class="form-control" id="opItemsCountInput" placeholder="" th:value="${operationItemsCount}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button th:id="${submitId}" type="button" class="btn btn-primary">
                    <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                    <span>Сохранить</span></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>