<html>
<head>
    <title>Наряд-задание № ###-###</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form>
        <fieldset>
            <div class="mb-3">
                <label for="item-name" class="form-label">Название детали</label>
                <input type="text" id="item-name" class="form-control" placeholder="Название детали">
            </div>
            <div class="mb-3">
                <label for="item-number" class="form-label">Номер детали</label>
                <input type="text" id="item-number" class="form-control" placeholder="Номер детали">
            </div>
        </fieldset>
        <fieldset>
            <legend>Операции</legend>
            <table id="work-table" class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Норма</th>
                    <th scope="col">мин./шт.</th>
                </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
            <button id="add-row" type="button" class="btn btn-light">Добавить строку</button>
        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
</html>