<html>
<head>
    <title>Рабочие</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <h1>Рабочие</h1>
        <table id="work-table" class="table mt-3">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody id="table-body">
            <th:block th:each="worker, iStat : ${workersList}">
            <tr th:worker-id="${worker.id}">
                <td>[[${iStat.index+1}]]</td>
                <td class="worker-name">[[${worker.fullName}]]</td>
                <td>
                    <span role="button" class="edit-worker bi bi-pencil fs-5"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span role="button" class="remove-worker bi bi-trash fs-5"></span>
                </td>
            </tr>
            </th:block>
            </tbody>
        </table>
        <button id="add-worker" type="button" class="btn btn-light">Добавить рабочего</button>
    </div>

    <div class="modal fade" id="newWorkerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Создание рабочего</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" class="form-control" id="newWorkerNameInput" placeholder="Имя">
                        <div class="invalid-feedback empty-new-worker-name-message">Необходимо ввести имя</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="worker-save" type="button" class="btn btn-primary">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Применить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editWorkerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Редактирование рабочего</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="worker-id-edit-modal">
                        <input type="text" class="form-control" id="editWorkerNameInput" placeholder="Имя">
                        <div class="invalid-feedback empty-worker-name-message">Необходимо ввести имя</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="worker-edit-apply" type="button" class="btn btn-primary">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Применить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delWarningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Предупреждение!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="worker-id-edit-modal">
                    Вы действительно хотите удалить рабочего "<span id="warning-worker-name"></span>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="worker-warning-apply" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Удалить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/errorModal :: errorModalFragment}"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
<script>

    $("#add-worker").click(function() {
        $('#newWorkerModal #newWorkerNameInput').val('');
        $('#newWorkerModal').modal('show');
    });

    $("#worker-save").click(function(){

        let newWorkerFullName = $("#newWorkerNameInput").val().trim();

        if(newWorkerFullName.length <= 0) {
            $("#newWorkerModal .empty-new-worker-name-message").show();
            $("#newWorkerModal #newWorkerNameInput").addClass("is-invalid");
            return;
        }

        sendJson("/save_worker", {fullName: $("#newWorkerNameInput").val()});

        $('#newWorkerModal').modal('hide');
    });

    $("#newWorkerNameInput").on("input", function(){
        $("#newWorkerModal .empty-new-worker-name-message").hide();
        $("#newWorkerModal #newWorkerNameInput").removeClass("is-invalid");
    });

    $("#editWorkerNameInput").on("input", function(){
        $("#editWorkerModal .empty-worker-name-message").hide();
        $("#editWorkerModal #editWorkerNameInput").removeClass("is-invalid");
    });

    $("#worker-edit-apply").click(function(){

        let workerName = $("#editWorkerNameInput").val().trim();

        if(workerName.length <= 0) {
            $("#editWorkerModal .empty-worker-name-message").show();
            $("#editWorkerModal #editWorkerNameInput").addClass("is-invalid");
            return;
        }

        sendJson("/update_worker", {id: $('#editWorkerModal .worker-id-edit-modal').val(), fullName: $("#editWorkerNameInput").val()});

        $('#editWorkerModal').modal('hide');
    });

    $(".edit-worker").click(function(){
        $('#editWorkerModal #editWorkerNameInput').val('');
        $('#editWorkerModal #editWorkerNameInput').val($(this).parent().parent().find(".worker-name")[0].innerText);
        $('#editWorkerModal .worker-id-edit-modal').val($(this).parent().parent().attr("worker-id"));
        $('#editWorkerModal').modal('show');
    });

    $(".remove-worker").click(function(){
        $('#delWarningModal #warning-worker-name').text('');
        $('#delWarningModal #warning-worker-name').text($(this).parent().parent().find(".worker-name")[0].innerText);
        $('#delWarningModal .worker-id-edit-modal').val($(this).parent().parent().attr("worker-id"));
        $('#delWarningModal').modal('show');

    });

    $("#worker-warning-apply").click(function(){
        sendData("/remove_worker", "id="+$('#delWarningModal .worker-id-edit-modal').val());
    });

    function sendJson(url, data) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'JSON',
            data: JSON.stringify(data),
            headers: {
                //"Accept": "application/json",
                "Content-Type": "application/json"
            },
            success: function(data){
                location.reload();
            },
            error: function(data){
            }
        });
    }

    function sendData(url, data) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'text',
            data: data,
            success: function(data){
                location.reload();
            },
            error: function(data){
                let responseText = JSON.parse(data.responseText);
                $("#errorModal .error-text").text("Status: "+responseText.status+", Error: "+responseText.error);
                $("#errorModal").modal("show");
            }
        });
    }
</script>
</html>