<html>
<head>
    <title>Наряды</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <h1>Наряды</h1>
    <table id="work-table" class="table mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Номер</th>
            <th scope="col">Дата</th>
            <th scope="col">Деталь</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody id="table-body">
        <th:block th:each="task, iStat : ${workTasks}">
            <tr th:task-id="${task.id}">
                <td>[[${iStat.index+1}]]</td>
                <td class="task-number">[[${task.number}]]</td>
                <td class="task-Date">[[${task.date}]]</td>
                <td class="task-item">[[${task.item.name}]]</td>
                <td>
                    <a th:href="${'/worktask/' + task.id}" href="#" role="button" class="edit-task bi bi-pencil fs-5"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span role="button" class="remove-task bi bi-trash fs-5"></span>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <button id="add-task" type="button" class="btn btn-light">Создать наряд</button>

    <div class="modal fade" id="newTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Создание наряда</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="newTaskNumberInput" class="form-label">Номер:</label>
                        <input type="text" class="form-control" id="newTaskNumberInput" placeholder="">
                        <label for="newTaskDateInput" class="form-label">Дата:</label>
                        <input type="text" class="form-control" id="newTaskDateInput" placeholder="yyyy-mm-dd">
                        <label for="select-item" class="form-label">Деталь:</label>
                        <select id="select-item" class="form-select form-select">
                            <option selected>Выберите деталь</option>
                            <option th:each="item, iStat : ${itemsList}" th:value="${item.id}">[[${item.name}]]</option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="worktask-save" type="button" class="btn btn-primary">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Применить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delWarningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Предупреждение!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="task-id-to-del">
                    Вы действительно хотите удалить Наряд-задание "<span class="worktask-del-number"></span>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="worktask-del-apply" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        <span>Удалить</span></button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/errorModal :: errorModalFragment}"></div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>

<script>
    $("#add-task").click(function(){
        $("#newTaskModal").modal("show");
    });

    $("#worktask-save").click(function(){
        sendJson("/save_worktask", {
            number: $("#newTaskNumberInput").val(),
            date: $("#newTaskDateInput").val(),
            itemId: parseInt($("#select-item").val())
        });
        $("#newTaskModal").modal("hide");
    });

    $(".remove-task").click(function(){
        $('#delWarningModal .worktask-del-number').text($(this).parent().parent().find(".task-number")[0].innerText);
        $('#delWarningModal .task-id-to-del').val($(this).parent().parent().attr("task-id"));
        $('#delWarningModal').modal('show');
    });

    $("#worktask-del-apply").click(function(){
        sendData("/delete_worktask", "id="+$('#delWarningModal .task-id-to-del').val());
    });

    function sendJson(url, data) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'JSON',
            data: JSON.stringify(data),
            headers: {
                //"Accept": "application/json",
                "Content-Type": "application/json"
            },
            success: function(data){
                location.reload();
            },
            error: function(data){
                console.log(data)
            }
        });
    }

    function sendData(url, data) {
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'text',
            data: data,
            success: function(data){
                location.reload();
            },
            error: function(data){
                let responseText = JSON.parse(data.responseText);
                $("#errorModal .error-text").text("Status: "+responseText.status+", Error: "+responseText.error);
                $("#errorModal").modal("show");
            }
        });
    }
</script>
</html>